



:root {

    --color-foreground: #2F2F2F; 
    --color-tint: #2E576B; 
    --color-midground: #BCBCBC; 
    --color-shade: #F8F8F8; 
    --color-background: #FFFFFF; 
    --color-elevate: #FAFAFC;

    --color-brand: #E16449; 
    --color-info: #1a73e8;
    --color-error: #FF5E6E; 
    --color-gold: #FF8800; 
    --color-success: #2BD84E;

    --drop-shadow: drop-shadow(0rem 0rem 1rem rgba(40, 42, 54, 0.08));


    --weight-light: 200; 
    --weight-regular: 300; 
    --weight-semibold: 400;
    --weight-bold: 500; 
    --weight-black: 700; 

    --typeface-body:
        "Inter",
        "Mulish",
        sans-serif;

    --typeface-heading:
        "Nanum Myeongjo",
        serif;

}



* {
    padding: 0px; 
    border: none; 
    margin: 0px; 
    box-sizing: border-box;

    color: inherit; 
    fill: inherit;
    z-index: inherit;
    stroke: inherit; 
    stroke-width: inherit;

    font-family: var(--typeface-body);
    font-size: inherit;
    font-weight: var(--weight-regular);
    line-height: 132%;
}

html {

    position: relative;

    font-size: 16px;
    stroke-width: 1.0px;
    line-height: 150%;
    background-color: var(--color-background);
}

@media screen and (min-width: 840px) and (min-height: 680px)
{
    html 
    {
        font-size: 18px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.05rem;
    font-weight: var(--weight-bold);
}

p, input {
    line-height: 150%;
}


a {
    color: var(--color-foreground);
}


button, a.button {
    padding: 0.3rem 1rem; 
    border-radius: 2rem; 
    background-color: var(--color-brand);
    color: #EBEFF2;
    width: max-content;
   
    &:hover {
        box-shadow: 0px 0px 3px 0px;
    }
}
  
button.secondary, a.button.secondary {
    background-color: rgba(78, 95, 228, 0.16);
    color: var(--color-brand);
    transition: box-shadow 220ms ease-in-out;

    &:disabled {
        border: none;
    }

    &:hover {
        box-shadow: 0px 0px 3px 0px;
    }
}

button.tertiary, a.button.tertiary {
    background-color: transparent;
    border: 0.8px solid var(--color-brand);
    color: var(--color-brand);       
    transition: box-shadow 220ms ease-in-out;

    &:disabled {
        border: none;
        color: var(--color-midground);
        cursor: not-allowed;
    }

    &:hover {
        box-shadow: 0px 0px 3px 0px;

    }
}

button, a {
    cursor: pointer;
    text-decoration: none;
}

button:disabled {
    background-color: var(--color-shade);
    color: var(--color-midground);
    cursor: not-allowed !important;
    pointer-events: none !important;
}


* > img {
    max-width: 100%; 
    max-height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.icon {
    position: relative;

    > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}


