



body {
    position: relative;
}

nav .icon {
    display: block;
    width: 2rem;
    height: 2rem;
    fill: #9C7E6C;

    background-color: unset !important; 
}

nav {
    pointer-events: all;
    padding: 2rem 4vw;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#gui, section#wishes {
    position: absolute;

    width: 100vw;
    height: 100svh;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;    
}


section#wishes {
    z-index: 10;
}

section#wishes p {
    font-size: 0.8rem;
    width: 2em;
    height: 2em;
    position: absolute; 
    border-radius: 1rem;
    text-align: center;

    transition-property: background-color, width, transform;
    transition-duration: 600ms;
    transition-timing-function: ease-in;

    text-align: center;

    cursor: pointer;

    /* background-color: var(--color-elevate); */
    /* border: 1px solid var(--color-shade); */

    background-image: url('../assets/leaf.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 0px;
}

section#wishes p > span {
    display: none;
    
}

section#wishes p.flower.fall {
    padding: 0px 1rem;
    width: 100%;
    max-width: max-content;
    height: 1.5em;
    background-color: var(--color-background);
    border: 1px solid var(--color-elevate);

    background-image: none;
}

section#wishes p.flower.fall > span { display: block }


section#gui {
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;

    pointer-events: none;
}

section#gui div.info {
    pointer-events: none;
    width: 64%;
    min-width: 300px;
    max-width: 88vw;
    opacity: 0%;

    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    padding: 1rem 1rem;
    background-color: #F7F7F7;
    border-radius: 1rem;
    filter: var(--drop-shadow);
}

section#gui.show  {
    background: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(0.5rem); /* Blur effect */
    -webkit-backdrop-filter: blur(0.5rem); /* Blur effect for Safari */
}

section#gui.show div.info {
    opacity: 100%;
    pointer-events: all;
}


section#gui div.container {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 2rem 1rem 1.5rem 1rem;
}

section#gui div.container > div.textfield {
    pointer-events: all;
    max-width: 720px;
}

/* #region Textfield */
div.textfield {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: max-content;

    margin-bottom: 0rem;

    display: flex;
    flex-direction: column;

    transition-property: margin-bottom;
    transition-timing-function: linear;
    transition-duration: 150ms;
}

div.textfield input {

    border-radius: 0.5rem; 
    border: 1px solid whitesmoke;
    background-color: FDE3F0;

    width: 100%;
    height: max-content;
}

div.textfield input::placeholder {
    color: gray; 
}

div.textfield input:focus {
    border: 0.8px solid goldenrod; 
    outline: none;
}

div.textfield input[readonly] {
    pointer-events: none;
}

div.textfield input[readonly]:focus {
    border: 1px solid lightslategray;
    outline: none;
}

div.textfield label#error {
    opacity: 0%;

    position: absolute;
    bottom: -1.5rem;
    left: 0rem;
    right: 0px;

    color: red;
    font-size: 0.8rem;
    margin: 0.1rem 0px;

    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

div.textfield .error {
    margin-bottom: 1.5rem;
}

div.textfield .error input {
    border: 1px solid lightcoral;
}

div.textfield .error label#error {
    opacity: 100%;
}





div.textfield div.marker, div.textfield div.action {
    position: absolute;
    left: 0px;
    top: 1.5rem;
    bottom: 0px;


    fill: transparent;
    stroke: lightgoldenrodyellow;

    margin: 0.1rem 0.8rem 0px 0.8rem;
}

div.textfield div.marker > button, div.action > button {
    width: 1.3rem !important;
    height: 1.3rem !important;
}

div.textfield div.action {
    right: 0px;
    left: unset;

    display: flex;
    flex-direction: flex-end;
    align-items: center;
    gap: 0.5rem;
}


div.textfield div.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.textfield div.header label {
    font-size: 0.8rem;
    margin: 0.1rem 0px;
}

div.textfield div.header button {
    padding: 0px 0px;
    margin: 0px 0px;
    width: max-content;
    background-color: transparent;
    color: lightgray;
    font-size: 0.8rem;
}
/* #endregion */

